*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    /* border: 1px solid red; */
}
:root{
    
    --box-shadow:0 .5rem 1rem rgba(0,0,0, .2);
}

body{
    background: transparent;
}
.hero{
    width: 100%;
    box-shadow: var(--box-shadow);
    /* box-shadow: rgba(0, 0, 0, 0.2); */
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
    /* position: fixed; */
    top: 0;left: 0;right: 0;
    background: #fff;
    /* box-shadow: var(--box-shadow); */
}
.logo{
    color: rgb(15, 114, 15);
    font-size: 28px;
}
.logo span{
    color: black;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
}
nav ul li a:hover{
    color: rgb(15, 114, 15);;
    transition: .3s;
}
.icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 1.5rem;
}
button{
    border: 1px solid white;
    background: rgb(15, 114, 15);;
    padding: 12px 30px;
    border-radius: 7px;
    color: #eee;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.search div{
    color: black;
    margin: 15px;
    font-size: 20px;
}
/* première section */

 
.container3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 40px;
}
.container3 .box3{
    position: relative;
    width: 500px;
    height: 500px;
    margin: 40px;
}
.container3 .box3 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
}
.container3 .content3 h2{
    color: green;
    font-size: 30px;
}
.container3 .content3 h1{
    font-weight: bold;
    font-size: 35px;
}
.container3 .content3 p{
    font-size: 13px;
    margin: 20px 0 40px;
}


.content3 .btn-box3{
    width: 180px;
    height: 35px;
}
.btn-box3 a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    background: green;
    border: 2px solid green;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

/* -------------------------------------- */
 .container{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.content{
    max-width: 600px;
}
.content h1{
    font-size: 38px;
    font-weight: 700;
}
.content h2{
    font-size: 2èpx;
    color: green;
    line-height: 1.2;
}
.content p{
    font-size: 13px;
    margin: 20px 0 40px;
}
.content .btn-box{
    width: 180px;
    height: 35px;
}
.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 100%;
    background: green;
    border: 2px solid green;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
} 

.heading{
    text-align: center;
    color: green;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
    font-size: 2rem;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    
}
/* section transform */


.transform{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    padding: 0 20%;
}
.transform .card-wrapper1{
    display: flex;
}
.transform .slide-content1{
    margin: 0 40px;
}

.transform .card1{
    width: 220px;
    border-radius: 25px;
    background-color: #fff;
    margin: 10px;
}
.transform .card2{
    width: 800px;
    border-radius: 25px;
    background-color: #fff;
    margin: 15px;  
}

.transform .image-content1, 
.transform .card-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.transform .image-content1{
    row-gap: 5px;
}

.transform .card-image1{
    position: relative;
    height: 150px;
    width: 150px;
    background: #fff;
    padding: 3px;

}
.transform .card1 .card-image1 .card-img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1px;
    border: 5px solid transparent;
}
.transform .card2 .card-image1 img{
    height: 150px;
    width: 150px;
    border-radius: 0 40px 0 40px;
    border: 10px solid #e2e0e0
}
.transform .card2 .card-image1{
    display: flex;
    justify-content: center;
}

.transform .card2 .card-image1 img{
    margin: 30px;
}
.transform .name1{
    font-size: 35px;
    font-weight: 500;
    color:orange;
    padding: 5px;

}
.transform .description1{
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding: 10px;
}
/* fin transform */
/* quatrième section */
.produits{
    border: 2px solid(0,0,0,0.2);;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.produits ,
.cont{
    background: #e4e0e0;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10%;
    padding-right: 10%;
    /* margin-top: 30px; */
}
.produits .card img,
.cont .card img{
    width: 150px;
    height: 150px;
    padding: 10px;
}
.card{
    width: 230px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
    margin: 17px;
    text-align: center;
    background: #eee;

}
.card img{
    width: 100%;
    height: 50vh;
}
.card-content{
    padding: 16px;
}
.card-content h2{
    width: 100%;
    font-size: 20px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.card-content h4{
    color: gray;
}
.card-content .price{
    font-weight: bold;
    padding: 10px;
}

.card-content .btn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: green;
    border: 2px solid green;
    border-radius:  0 0 6px 6px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}
.stars{
    color: green;
    font-size: 12px;
}


/* section des témoignages*/
.tem{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid(0,0,0,0.2);;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(MesImages/img2.jpeg);
    background-size: cover;
    
}

.card-wrapper1{
    display: flex;
}
.slide-content1{
    margin: 0 40px;
}

.card1{
    width: 320px;
    border-radius: 25px;
    background-color: #fff;
    margin: 15px;
}

.image-content1, 
.card-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.image-content1{
    row-gap: 5px;
}

.card-image1{
    position: relative;
    height: 150px;
    width: 150px;
    background: #fff;
    padding: 3px;

}
.card-image1 .card-img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.name1{
    font-size: 20px;
    font-weight: 500;
    color: green;
}
.description1{
    font-size: 14px;
    color: #707070;
    text-align: center;
    padding: 10px;
    padding-bottom: 2rem;
}
.button1{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: green;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button1:hover{
    background: green;
}

.tem .heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 2rem;
}
.slide-content1 h3{
    text-align: center;
    font-size: 0.9rem;
    padding: 2rem;
    color: white;
    font-weight: 10px;
}
/* fin témoignages */

/* newsletter */


.newsletter-form{
    width: 100%;
    text-align: center;
    padding: 50px;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(MesImages/img9.jpeg);
    background-size: cover;
}
.newsletter-form .email-input{
    width: 100%;
    height: 46px;
    padding: 10px;
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    color: #333;
    background-color: #f4f4f4;
    border: 1px solid #646464;
    margin-bottom: 20px;
    border-radius: 5px;
}
.newsletter-form .bouton{
    width: 35%;
    height: 36px;
    border-radius: 5px;
    background-color: green;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
}


/* fin newsletter */

/* services */
.services{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid(0,0,0,0.2);;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background: #eeebeb;
}
.services .heading{
    padding-bottom: 2rem;
}
.services.card-wrapper1{
    display: flex;
}
.services .slide-content1{
    margin: 0 40px;
}

.services .card1{
    width: 300px;
    border-radius: 5px;
    background-color: #fff;
    margin: 10px;
}

.services .image-content1, 
.services .card-content1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

}
.services .image-content1{
    row-gap: 5px;
}

.services .card-image1{
    height: 150px;
    width: 150px;
    background: #fff;
    padding: 3px;

}
.services .card-image1 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.services .name1{
    font-size: 15px;
    font-weight: bold;
    color: green;
}
.services .description1{
    font-size: 14px;
    color: black;
    text-align: center;
    padding: 10px;
    padding-bottom: 2rem;
}

/* fin services */

/* partie contact */

.contact{
    background: url(MesImages/img7.jpeg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    background-size: cover;
}

.container-contact {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}
.container-contact  .heading{
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
.container-contact form input,
.container-contact form textarea{
    display: block;
    width: 100%;
    height: 45px;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
}
.area{
    min-height: 200px;
}
.container-contact form input:focus,
.container-contact form input:focus{
    outline: none;
    box-shadow: 0 0 5px #333;
}
.container-contact form button{
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 2px;
    background-color: green;
    color: white;
    cursor: pointer;
    font-size: bold;
}

/* fin contact */
/* partie footer */


footer{
    background: #343434;
    background-image: linear-gradient(to top, rgba(0,0,0,0.5)70%,rgba(0,0,0,0.5)80%),url(MesImages/img8.jpeg);
    background-size: cover;
    list-style: none;
    text-decoration: none;
    /* padding-top: 50px; */
}
.footer-container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: #fff;
}
.footer-content{
    width: 33.3%;
}
.footer-container h3{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}
.footer-container .footer-content p{
    width: 190px;
    margin: auto;
    padding: 10px;
    font-size: 15px;
}
.footer-container .footer-content ul{
    text-align: center;
}
.footer-container .list{
    padding: 0;
}
.footer-container .list li{
    width: auto;
    text-align: center;
    list-style: none;
    padding: 7px;
    position: relative;
}
.footer-container .list li a{
    color: white;
}
.footer-container .list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f13930;
    transition-duration: .5s;
}
.footer-container .list li:hover::before{
    width: 70px;
}
.footer-container .social-icons{
    text-align: center;
    padding: 0;
}
.footer-container .social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.footer-container .social-icons i{
    color: white;
    font-size: 35px;
}
.footer-container a{
    text-decoration: none;
}
.footer-container a:hover{
    color: #f13930;
}
.footer-container .social-icons i:hover{
    color: #f13930;
}
.bottom-bar{
    background: #eee;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #343434;
}
/* fin du footer */